h1 {  
color: purple;
  text-align: center;
}

#bodybox }
border-style: solid;
border-color: darkgray;
}

*{
  font-family:castellar;
    text-align:center;
}
#picture {
  float: centre;
  padding: 0px 20px 0px 20px;
}
